<h1>Photo Detail View</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Caption</th>
  </tr>
  <tr>
    <td>
      <img src="<%= @detail_view.source %>" width="80">
    </td>
    <td>
      <%= @detail_view.caption %>
    </td>
  </tr>
</table>
